table {
    border: 2px solid;
    border-collapse: collapse;
    padding: 100px;
    background-color: white;
    position: fixed;
    left: 675px;
}

#table, th {
    text-align: center;
    align-content: center;
    position: absolute;
    right: 450px;
}

td {
    width: 100px;
}

#data {
    width: 250px;
    height: 500px;
    float: left;
    align-content: left;
}

#name {
    position: relative;
    right: 0;
    top: 25px;
}

#fooditems {
    width: 250px;
    height: 500px;
    float: left;
    align-content: left;
    padding: 10px;

}

#header {
    width: auto;
    height: 75px;
    text-align: center;
    color: white;
    background-color: #333333;
}

#health{
    text-align: center;
    position: fixed;
    top: 20%;
    right: 100px;
    left: 37.5%;
    background-color: #D80000;
    width: 500px;
    height: 200px;
}

html, body {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#calories {
    text-align: center;
    position: fixed;
    top: 50%;
    right: 100px;
    left: 37.5%;
    background-color: #D80000;
    width: 500px;
    height: 223px;
}